{% extends 'base.html.twig' %}

{% block title %}Confirmationr!{% endblock %}

{% block body %}

<h1>{% trans %} Hello {% endtrans %} {{ controller_name }}! ✅</h1>

{% if app.session %}
  <p>{{ app.session.customer.lastName }} - {{app.session.customer.email }}</p>
{% endif %}

{% if bookingOrders %}

{% endif %}

<div id="tabs">
  <ul>
    <li><a href="#fragment-1">One</a></li>
    <li><a href="#fragment-2">Two</a></li>
    <li><a href="#fragment-3">Three</a></li>
  </ul>
  <div id="fragment-1">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  </div>
  <div id="fragment-2">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  </div>
  <div id="fragment-3">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  </div>
</div>



{% endblock %}
